<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageSources>
		<add key="nuget.org" value="https://www.nuget.org/api/v2/" />
		<!-- The following are to bootstrap our test and example projects while building the solution from scratch -->
		<add key="Self-Release" value="..\OvermanGroup.NuGet.Packager\bin\Release\" />
		<add key="Self-Debug" value="..\OvermanGroup.NuGet.Packager\bin\Debug\" />
	</packageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>
